* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #2d2c2b;
  --top-background-color: #ffce00;
  --submenu-color: rgb(45, 44, 43);
  --submenu-icons-bg-color: #f9f4f2;
  --submenu-padding: 2rem 1.25rem;
}

body,
html {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

ul {
  list-style: none;
}

a,
label {
  cursor: pointer;
}

body > div:first-of-type {
  width: 100%;
  background: var(--top-background-color);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--text-color);
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1.625rem;
  }
}



/* Main content */
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}





body.modal-open {
  overflow: hidden;
}







